<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">QUIL Dashboard</h1>
	</div>
	<!-- /.col-lg-12 -->
	
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-tasks fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{runningTasks.length}}</div>
						<div>Running Tasks</div>
					</div>
				</div>
			</div>
			<a href="#/tasks/main">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-tasks fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{failedTasks.length}}</div>
						<div>Failed Tasks</div>
					</div>
				</div>
			</div>
			<a href="#/tasks/main">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-table fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{dataServices.length}}</div>
						<div>Active Caches</div>
					</div>
				</div>
			</div>
			<a href="#/data">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-cogs fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{clusterNodes.length}}</div>
						<div>Running Nodes</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left"></span>
					<span class="pull-right">&nbsp;</span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">Cluster Status</h3>
	</div>
	<!-- /.col-lg-12 -->
	

	<div class="col-lg-6">
		<div class="col-lg-12" ng-repeat="node in clusterNodes">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					Node ID: {{node.id}}
				</div>
				<div class="panel-body">
					<p>
						Cores: {{node.nocores}} - Jobs: {{node.activejobs}}
					</p>
					<p>
						Memory: {{node.mem}}
					</p>
				   
					<timer start-time='start' end-time='end'">
					   <div class="progress progress-striped active">
						  <div
								ng-class="{'progress-bar':1, 'progress-bar-success': node.cpu < 30.0 ,
										   'progress-bar-warning': node.cpu >= 30.0 && node.cpu <= 60.0 ,
										   'progress-bar-danger': node.cpu >= 60.0 ,
										   'progress-bar-striped':1, 'active':1}"
							   role="progressbar " aria-valuemin="0" aria-valuemax="100" style="width:{{node.cpu}}%;min-width: 2em;">  {{node.cpu}}% CPU Load
						  </div>
					   </div>
					</timer>

				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
					Cluster Log
			</div>
			<div class="panel-body">
				<div ui-ace="{
					  useWrapMode : true,
					  showGutter: false,
					  showPrintMargin : false,
					  mode: 'xml',
					  firstLineNumber: 1,
					  onLoad: aceLoaded,
					  onChange: aceChanged
					}" ng-model="logTxt">
				</div>
			</div>
		</div>
	</div>
	
</div>
