<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Data Management</h1>
	</div>
	
	<div class="col-lg-12">
	  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</uib-alert>
	</div>
</div>

<div class="row" fileread="uploadFile">
	<div class="col-lg-12">
	<uib-tabset>
		<uib-tab heading="Upload">
			<div class="panel panel-default" style="border-top:none;height:75vh">

				<!-- /.panel-heading -->
				<div class="panel-body">
					<h3>Upload Data</h3><hr>
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group" ng-show="error">
								<label style="color: red">{{error}}</label>
							</div>
							<div class="form-group">
								<label>Cache ID</label>
								<input type="text" ng-model="$parent.$parent.$parent.cacheId" class="form-control">
							</div>
							<div class="form-group">
								<label>File</label>
								<input type="file" fileread="uploadFile" class="form-control">
							</div>
							<div class="form-group">
								<label>Interpret data as</label>
								<div class="radio">
									<label><input type="radio" name="optradio" ng-model="$parent.$parent.$parent.cacheType" value="simplecache">Multiple Key/Values from CSV</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio" ng-model="$parent.$parent.$parent.cacheType" value="simplecachesingle">Single Key/Value Pair</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio" ng-model="$parent.$parent.$parent.cacheType" value="documentcache">Tabular Data from CSV</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio" ng-model="$parent.$parent.$parent.cacheType" value="documentcache">Single JSON Document</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio" ng-model="$parent.$parent.$parent.cacheType" value="documentcachearray">Array of JSON Documents</label>
								</div>
							</div>
							<div class="form-group">
								<label>Key (for Single Key/Value Pair)</label>
								<input type="text" ng-model="$parent.$parent.$parent.cacheKey" class="form-control">
							</div>
							<div class="form-group" align="left">
								<button  ng-click="upload()" class="btn btn-default btn-sm">Upload</button>
							</div>
						</div>
					</div>


					<!-- /.panel-body -->
				</div>
			</div>
		</uib-tab>

		<uib-tab heading="Active Caches">
			<div class="panel panel-default" style="overflow-y:scroll;border-top:none;height:75vh">

				<!-- /.panel-heading -->
				<div class="panel-body">

					<h3>Active Caches</h3><hr>

					<div class="dataTable_wrapper"  ng-show="!dataServices.length">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
							<tr>
								<th>ID</th>
								<th>Type</th>
								<th>Size</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr class="odd gradeX">
								<td colspan="4">No Caches active.</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="dataTable_wrapper"  ng-show="dataServices.length > 0">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
							<tr>
								<th>ID</th>
								<th>Type</th>
								<th>Size</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr class="odd gradeX" ng-repeat="svc in dataServices">
								<td>{{ svc.name }}</td>
								<td>{{ svc.type }}</td>
								<td>{{ svc.size }}</td>
								<td class="center">
									<div align="left"><div class="btn-group">
										<button type="button" class="btn btn-default btn-sm" style="margin:0px" ng-click="removeCache(svc.name, svc.type)">Remove</button>
										<!--  <button type="button" class="btn btn-default btn-sm" style="margin:0px" ng-click="downloadCache(svc.id)">Download Data</button> -->
									</div></div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

				</div>
				<!-- /.panel-body -->
			</div>
		</uib-tab>

		<uib-tab heading="Query">

			<div class="panel panel-default" style="border-top:none;height:75vh">

				<!-- /.panel-heading -->
				<div class="panel-body">

					<h3>Run a SQL Query</h3><hr>

					<div ui-ace="{
					  useWrapMode : true,

					  showPrintMargin : false,

					  mode: 'sql',
					  firstLineNumber: 1,
					  onLoad: aceLoaded,
					  onChange: aceChanged
					}" ng-model="queryString" style="height:8vh">
					</div>
					<p>&nbsp;</p>
					<button ng-click="query(queryString)" class="btn btn-default btn-sm">Execute Query</button>
					<p>&nbsp;</p>
					<!--<div ng-show="!showQueryResult">
						<div class="dataTable_wrapper" ng-show="showQueryResult">
							<table datatable="ng" class="table table-striped table-bordered table-hover" id="dataTables-query2" >
								<thead>
								<tr>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr class="odd gradeX">
									<td>No query submitted yet.</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>-->

					<div class="dataTable_wrapper" style="height:50vh; overflow-y:scroll">
						<table  datatable="ng" class="table table-striped table-bordered table-hover" id="dataTables-query"
								style="height:30vh; overflow-y:scroll">
							<thead>
							<tr>
								<th ng-repeat="name in lastQuery[0]">{{ name }}</th>
							</tr>
							</thead>
							<tbody>
							<tr class="odd gradeX" ng-repeat="row in lastQuery track by $index" ng-if="$index > 0">
								<td ng-repeat="val in row track by $index">
									<span ng-if="val.data "><json-formatter json="val.data" open="0"></json-formatter></span>
									<span ng-if="!val.data">{{val}}</span>
								</td>

							</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</uib-tab>

	</uib-tabset>
	</div>
</div>


<script type="text/ng-template" id="inspectObject.html">
<div class="modal-header">
		<h3 class="modal-title">Inspect Object</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Cache: {{objIndex.cacheId}}</label>
		</div>
		<div class="form-group">
			<label>UUID:  {{objIndex.fileId}}</label>	
		</div>
		<div class="form-group">
			<json-formatter json="objectData" open="1"></json-formatter>	
		</div>
	</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Close</button>
	</div>

</div>
</script>