<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Data Management</h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Active Caches
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<p ng-show="!dataServices.length">
							No DataServices active.
					</p>
					<div class="dataTable_wrapper"  ng-show="dataServices.length > 0">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>ID</th>
									<th>Type</th>
									<th>Size</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr class="odd gradeX" ng-repeat="svc in dataServices">
									<td>{{ svc.id }}</td>
									<td>{{ svc.type }}</td>
									<td>{{ svc.size }}</td>
									<td class="center">
										<div align="left"><div class="btn-group">
										<button type="button" class="btn btn-default btn-sm" style="margin:0px">Remove</button>
										<button type="button" class="btn btn-default btn-sm" style="margin:0px" ng-click="downloadCache(svc.id)">Download Data</button>
										</div></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				   
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
	</div>
	


	<div class="row">
	
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					Upload a trade (JSON)
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
				
					<div class="row">
						<div class="col-lg-6">
						<form>
						<div class="form-group">
							<label>Cache ID</label><input type="text" class="form-control" ng-model="newCacheID" style="width:300px">
							<label>Trade File</label><input type="file" file-model="myFile" class="form-control" style="width:300px">
						</div>
						<div class="form-group">
							<button ng-click="uploadFile()" class="btn btn-default btn-sm">Upload</button>
						</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					Upload a trade portoflio (CSV)
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
				
					<div class="row">
						<div class="col-lg-6">
						<form>
						<div class="form-group">
							<label>Cache ID</label><input type="text" class="form-control" ng-model="newCacheID" style="width:300px">
							<label>Trade File</label><input type="file" file-model="myFile" class="form-control" style="width:300px">
						</div>
						<div class="form-group">
							<button ng-click="uploadFile()" class="btn btn-default btn-sm">Upload</button>
						</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					Upload Market Data (Key/Value) from CSV
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
				
					<div class="row">
						<div class="col-lg-6">
						<form>
						<div class="form-group">
							<label>Cache ID</label><input type="text" class="form-control" ng-model="newCacheID" style="width:300px">
							<label>Trade File</label><input type="file" file-model="myFile" class="form-control" style="width:300px">
						</div>
						<div class="form-group">
							<button ng-click="uploadFile()" class="btn btn-default btn-sm">Upload</button>
						</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div>
		
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					Create general purpose cache from CSV file
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
				
					<div class="row">
						<div class="col-lg-6">
						<form>
						<div class="form-group">
							<label>Cache ID</label><input type="text" class="form-control" ng-model="newCacheID" style="width:300px">
							<label>CSV File</label><input type="file" file-model="myFile" class="form-control" style="width:300px">
						</div>
						<div class="form-group">
							<button ng-click="uploadFile()" class="btn btn-default btn-sm">Upload</button>
						</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
