<div class="row">

	<div class="col-lg-12">
		<h1 class="page-header">Repository</h1>
	</div>

	<div class="col-lg-12">
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</uib-alert>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div align="left" style="float: left">File: {{currentFile}}</div>
				<div align="right">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-sm"
							style="margin: 0px"
							ng-click="newFileWindow('newXMLFileDialog.html', 'NewFile.xml', '')">New
							File...</button>
						<button type="button" class="btn btn-default btn-sm"
							style="margin: 0px" ng-click="uploadFileWindow()">File
							upload...</button>
						<button type="button" class="btn btn-default btn-sm"
							style="margin: 0px" ng-click="saveFile()">Save File</button>
						<!--   <button type="button" class="btn btn-default btn-sm" style="margin:0px" ng-click="deleteFileWindow()">Delete File...</button>
					<button type="button" class="btn btn-default btn-sm" style="margin:0px" ng-click="newFolderWindow('newFolderDialog.html', 'NewFolder', '')">Create Folder...</button> -->
						<!--  <button type="button" class="btn btn-default btn-sm"
							style="margin: 0px" ng-click="uploadToCacheWindow()">Test...</button> -->
						<button type="button" class="btn btn-default btn-sm"
							style="margin: 0px" ng-click="uploadToCacheWindow()">Upload to Cache...</button>
					</div>
				</div>
			</div>
			<div class="panel-body" style="padding: 0px">
				<div class="col-md-3 tree-browser repo_editor">
					<js-tree tree-plugins="contextmenu" tree-contextmenu="contextMenu"
						tree-contextmenuaction="actions"
						tree-events="select_node:nodeSelected" tree-data="scope"
						tree-model="treeModel" tree="treeInstance"
						tree-config="treeConfig"></js-tree>
				</div>

				<div class="col-md-9">
					<div class="repo_editor"
						ui-ace="{
					  useWrapMode : true,
					  showGutter: true,
					  mode: 'xml',
					  showPrintMargin : false,
					  firstLineNumber: 1,
					  onLoad: aceLoaded,
					  onChange: aceChanged
					}"
						ng-model="fileContent"></div>
				</div>
			</div>
			<div></div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div align="left" style="float:left">
					Output
				</div>
				<div align="right">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-sm"
							style="margin: 0px">Clear</button>
					</div>
				</div>
			</div>
			<div class="panel-body" style="padding: 0px">
				<div class="col-md-12">
				  <div ui-ace="{
						 useWrapMode : true,
					  showGutter: false,
					  showPrintMargin : false,
					  mode: 'xml',
					  firstLineNumber: 1,
					  onLoad: aceLoaded,
					  onChange: aceChanged
					
						}" ng-model="fileContent" class="repo_output" >
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<script type="text/ng-template" id="newFileDialog.html">
<div class="modal-header">
		<h3 class="modal-title">New File...</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Filename</label>
			<input type="text" ng-model="fileName" class="form-control">
		</div>
	</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
</script>

<script type="text/ng-template" id="newFolderDialog.html">
<div class="modal-header">
		<h3 class="modal-title">New Folder...</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Filename</label>
			<input type="text" ng-model="fileName" class="form-control">
		</div>
	</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
</script>

<script type="text/ng-template" id="deleteFileDialog.html">
	<div class="modal-header">
		<h3 class="modal-title">Are you sure?</h3>
	</div>
	<div class="modal-body">
		
	</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
<script type="text/ng-template" id="createFolderDialog.html">
	<div class="modal-header">
		<h3 class="modal-title">New Folder...</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Folder Name</label>
			<input type="text" ng-model="folderName" class="form-control">
		</div>
	</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="uploadFileDialog.html">
	<div class="modal-header">
		<h3 class="modal-title">Upload File..</h3>
	</div>
	<div class="modal-body">

		<form>
		<div class="form-group">
			<label>Choose Target Folder</label><br/>
				<js-tree tree-events="select_node:nodeSelected" tree-data="scope" tree-model="theTree"></js-tree>
        </div>
        <div class="form-group">
			<label>Choose File</label><input type="file" class="form-control">
		</div>
		</form>
		</div>
	</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="alert_repository.html" >
<div>
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
  </script>

<script type="text/ng-template" id="uploadToCacheDialog.html">
<div class="modal-header">
		<h3 class="modal-title">Upload this data to a cache...</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Cache ID</label>
			<input type="text" ng-model="cacheID" class="form-control">

        </div>
		<div class="form-group">
			<label>Interpret data as</label>
			<div class="radio">
			  <label><input type="radio" name="optradio">Multiple Key/Values from CSV</label>
			</div>
			<div class="radio">
  				<label><input type="radio" name="optradio">Single Key/Value Pair</label>
			</div>
			<div class="radio">
  				<label><input type="radio" name="optradio">Tabular Data from CSV</label>
			</div>
			<div class="radio">
  				<label><input type="radio" name="optradio">Single JSON Document</label>
			</div>
	    </div>
		<div class="form-group">
			<label>Key</label>
			<input type="text" ng-model="" class="form-control">
		</div>
	</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
</script>