<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			Submit task
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
		
			<div class="row">
				<div class="col-lg-12">
				<form>
				<div class="form-group">
					<label>Task ID</label><select ng-model="taskID" class="form-control">
						<option ng-repeat="task in definedTasks" value="{{task.id}}">{{task.id}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Optional Tag</label>
					<input type="text" ng-model="taskTag" class="form-control"/>
				</div>
				<div class="form-group">
					<button ng-click="taskFromRepository()" class="btn btn-default btn-sm">Submit...</button>
				</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			Guidance
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<p> Info / Help  Text here.</p>
		</div>
	</div>
</div>
	
<script type="text/ng-template" id="alert_task.html">
	<div>
		<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
		<div ng-transclude></div>
    </div>
</script>


<script type="text/ng-template" id="taskFromTemplateDialog.html">

	<div class="modal-header" style="width:70vh">
		<h3 class="modal-title">Fill parameters...</h3>
	</div>
	<div class="modal-body" style="width:70vh">
		<div class="form-group">
			<label>{{templateID}}</label>
			<!-- <div ng-jsoneditor ng-model="obj.data" options="obj.options"></div> -->
			<form sf-schema="schema" sf-form="form" sf-model="model"></form>
		</div>
	</div>


	<div class="modal-footer"style="width:70vh">
		<button class="btn btn-primary" ng-click="ok()">Submit</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>

</script>